Data/JSON/8.txt
[{"id":"26a2dad.fd95d26","type":"ibmiot in","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":88,"y":67,"z":"ba9d8b1d.456278","wires":[["b6369e87.49c96"]]},{"id":"b6369e87.49c96","type":"function","name":"get temp","func":"var d = msg.payload.d;\nvar t = new Date();\nreturn {\n  payload: {\n    temp: d.temp,\n    humidity: d.humidity,\n    t: t.getSeconds()\n  }\n};","outputs":1,"x":130,"y":160,"z":"ba9d8b1d.456278","wires":[["555845b2.aaa7bc"]]},{"id":"555845b2.aaa7bc","type":"switch","name":"each minutes","property":"payload.t","rules":[{"t":"eq","v":"0"},{"t":"else"}],"checkall":"true","outputs":2,"x":126,"y":234,"z":"ba9d8b1d.456278","wires":[["99767431.668988"],[]]},{"id":"abef3629.5410c8","type":"twitter out","twitter":"","name":"Tweet","x":197,"y":474,"z":"ba9d8b1d.456278","wires":[]},{"id":"b76b8e59.48947","type":"template","name":"tweet message","field":"payload","template":"ビール温度は{{payload.temp}}度になりました。飲むで。","x":179,"y":400,"z":"ba9d8b1d.456278","wires":[["abef3629.5410c8","a90851d4.56f7b"]]},{"id":"99767431.668988","type":"switch","name":"if temp is less than 20","property":"payload.temp","rules":[{"t":"lt","v":"20"},{"t":"gt","v":"22"}],"checkall":"true","outputs":2,"x":174,"y":301,"z":"ba9d8b1d.456278","wires":[["b76b8e59.48947"],["e3001ae9.1cffe8"]]},{"id":"a90851d4.56f7b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":358,"y":470,"z":"ba9d8b1d.456278","wires":[]},{"id":"e3001ae9.1cffe8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":377,"y":326,"z":"ba9d8b1d.456278","wires":[]}]